<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Ce projet n'utilise pas Bootstrap. Il faut éviter Bootstrap dans les projets Angular -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP2</title>
</head>
<body>
    <header>
        <div class="row">
            <div><a href="artist.html" translate>app.template</a></div>
            <div class="spacer"></div>
            <div>
                <select [(ngModel)]="language" name="language" (change)="changeLanguage()">
                    <option value="fr">Français</option>
                    <option value="en">English</option>
                </select>
            </div>
        </div>
    </header>
    <main>

      <router-outlet></router-outlet>

    </main>
    <footer>
      <div translate>
        app.rights
      </div>
  </footer>
</body>
</html>