<main>
    <h3>Chansons de l'album {{albumName}}</h3>
    <div class="row">
        <div class="youtubePlayer">
            <img src="assets/images/yourubeplayer.png" alt="Youtube player">
        </div>
        <div class="songs">
            <div class="songList">

                <!-- Liste de chansons d'un album choisi -->
                <div *ngFor="let c of songs">
                    <p>{{c.name}}</p>
                    <button>Jouer</button>
                </div>

            </div>
        </div>
    </div>
</main>