<main>
    <h3 translate [translateParams]="{x: artistName}">show.title</h3>
    <div class="row">
        <img src="assets/images/googlemap.png" alt="Google Map" class="map">

        <div class="shows">

            <!-- Liste des concerts -->
            <div *ngFor="let show of shows" class="show-item">
                <h4>{{show.date}}</h4>
                <p>{{show.country}}</p>
                <p>{{show.city}}</p>
            </div>
            <ng-container *ngIf="shows.length === 0">
                <p>Aucun concert à venir pour cet artiste.</p>
            </ng-container>

        </div>

    </div>
</main>