<main>
    <div class="row">
        <div class="search">
            <h3>Ajouter un artiste</h3>
            <form>
                <input type="text" name="artistName" placeholder="Nana Mouskouri" [(ngModel)]="artistName">
                <button (click)="searchArtist()">Rechercher</button>
            </form>
        </div>
        <div class="display">
            <h3>Vos artistes</h3>
            <div class="row">

                <!-- Liste d'artistes ajoutés aux favoris -->
                <div *ngFor="let a of artists">
                    <h4>{{a.name}}</h4>
                    <img [src]="a.image" [alt]="a.name">
                    <button [routerLink]="['/album', a.name, a.id]">Albums</button>
                    <a [routerLink]="['/show']"><button>Concerts</button></a>
                </div>

            </div>
        </div>
    </div>
</main>