header a{
    text-decoration: none;
    color:inherit;
}

.row{
    display:flex;
    flex-wrap:wrap;
}

header .row{
    gap:10px;
}

header .row div{
    padding:10px;
    cursor:pointer;
}

.spacer{
    flex:1;
}

body{
    background-color:#f5fafa;
    background-image: linear-gradient(#f5fafa, #f9f5fa) fixed;
    font-family:Verdana;
}

header,main,footer{
    background-color:white;
    border:lightgray solid 1px;
    width:1000px;
    margin:auto;
    margin-bottom:5px;
}

footer div{
    
    text-align:center;
    padding:10px;
    font-size:0.8em;
}

main .row>div{
    padding:10px;
}

main h3{
    margin: 0px 0px 5px 0px;
    text-align:center;
}
.search{
    flex:1;
}

.search input{
    width:100%;
    margin-bottom:5px;
}

.display{
    flex:3;
}

.display .row{
    gap:7px;
}

.display h4{
    margin:0px 0px 5px 0px;
}

.display .row>div{
    flex-basis: 29.5%;
    text-align:center;
    border:lightgray 1px solid;
}

.display .row>div>img{
    width:100%;
}